<div class="container h-100">
    <div class="row h-100 align-items-center justify-content-center">
        <div class="col-auto">
            <p>home works!</p>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
