// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

@import 'palette-generator';

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$angular-example-primary: mat.define-palette(createPalette(#00BCAF));
$angular-example-accent: mat.define-palette(createPalette(#006BBC));

// The "warn" palette is optional and defaults to red if not specified.
$angular-example-warn: mat.define-palette(mat.$red-palette);

// Typo
$angular-example-typography: mat.define-typography-config(
  $font-family: 'Nunito',
);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$angular-example-theme: mat.define-light-theme(
  (
    color: (
      primary: $angular-example-primary,
      accent: $angular-example-accent,
      warn: $angular-example-warn,
    ),
    typography: $angular-example-typography,
  )
);

// Emit theme-dependent styles for common features used across multiple components.
@include mat.core-theme($angular-example-theme);

// Include theme styles for core and each component used in your app.
@include mat.button-theme($angular-example-theme);
@include mat.form-field-theme($angular-example-theme);
