<form data-testid="form" [formGroup]="form" (submit)="login()">
  <!-- username -->
  <div class="row">
    <div class="col">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Username</mat-label>
        <input data-testid="username" matInput formControlName="username" />
      </mat-form-field>
    </div>
  </div>

  <!-- password -->
  <div class="row">
    <div class="col">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Password</mat-label>
        <input
          data-testid="password"
          matInput
          formControlName="password"
          [type]="hide ? 'password' : 'text'"
        />
        <button
          data-testid="show-password"
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>

  <!-- submit -->
  <div class="row">
    <div class="col">
      <button
        data-testid="submit-button"
        class="w-100"
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="form.pristine || form.invalid"
      >
        Login
      </button>
    </div>
  </div>
</form>
