<div class="container h-100">
  <div class="row h-100 align-items-center justify-content-center">
    <div class="col-xl-3 col-lg-4 col-md-5">
      <!-- logo -->
      <div class="row mb-4 justify-content-center">
        <div class="col-auto">
          <img class="w-100" src="assets/logo.png" />
        </div>
      </div>

      <!-- login form -->
      <div class="row">
        <div class="col">
          <app-login-form></app-login-form>
        </div>
      </div>
    </div>
  </div>
</div>
